# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
sudo: true
latex: true
pandoc: false
r_binary_packages:
   - rgdal
   - devtools
   - dplyr
   - Rcpp
   - BH
   - utf8
   - stringi
   - roxygen2
   - testthat
addons:
  apt:
    packages:
      - libgdal-dev
      - libproj-dev

script:
- R CMD build .
#- travis_wait 20 R CMD check ASGS.foyer*tar.gz
- R CMD install ASGS.foyer*tar.gz
- R -e 'devtools::test()'

after_failure:
#- Rscript -e 'install.packages(dir(pattern = "ASGS\\.foyer.*tar\\.gz$")[1], repos=NULL);library(ASGS.foyer);install_ASGS(quiet = T)'

